
/*@media: 중괄호 내부의 디자인을 적용할 조건 제시

<!--너비가 작은 화면에서 큰 화면의 순서로 작성하는 것이 원칙-->
*/

@media only screen and (max-width: 600px){
    body{
        background-color: skyblue;
    }

}

@media only screen and (min-width: 600px){
    body{
        background-color:green;
    }
}

@media only screen and (min-width: 1200px){
    body{
        background-color: darkblue;
    }
}

@media only screen and (max-width: 900px){
    h1{
        color:white;
    }
}

@media only screen and (min-width: 900px){
    h1{
        color: yellow;
    }
}